{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('delete_entry') }}" method=post class=delete>
  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry.title }} {{entry.id_entry|safe}}</h2>{{ entry.artist|safe }} {{entry.year|safe}} <img src="{{ entry.link|safe}}" width="500px" height="auto">
    {% if session.logged_in %}
      <input type=submit name={{ entry.id_entry|safe }} value=delete>
    {% endif %} 
  {% endfor %}
  </ul>

  {% if session.logged_in %}
    </form>
  {% endif %}

{% endblock %}
