{% extends "layout.html" %}
{% block body %}


    <form action="{{ url_for('answer') }}" method=post class=show-quiz>
      <dl>
  {% for entry in entries %}
    <img src="{{ entry.link|safe}}" width="500px" height="auto">
        <input type=hidden name=imageID value={{ entry.id_entry|safe }}>
        <table>
          <tr>
            <td>Title:</td>
            <td> <input type=text size=30 name=title> </td>
          </tr>
          <tr>
            <td>Artist:</td>
            <td><input type=text size=30 name=artist> </td>
          </tr>
          <tr>
            <td>Year:</td>
            <td><input type=text size=30 name=year> </td>
          </tr>
          <tr>
            <td>Description:</td>
           <td><textarea name=description rows=5 cols=40></textarea> </td>
          </tr>
          <tr>
             <td></td>
             <td><input type=submit value=Submit></td>
          </tr>
  {% endfor %}
      </dl>
    </form>
{% endblock %}
